@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
}

.heading {
font-family: 'Yellowtail', cursive;	
}

.subheading {
font-family: 'Montserrat', sans-serif;
}

.paragraph {
	 font-family: 'Lato', sans-serif;
	}

#nav_bar {
	background-color: #FFF;
	float: right;
	text-align: right;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	width: 100%;
	opacity: 0.6;
}

#nav_bar ul {
    list-style-type: none;
	float: right;
    padding: 0;
    overflow: hidden;
    background-color: #FFF;
}

#nav_bar li {
	float: left;
	padding: 14px 16px;
	display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-placeholder {
	text-align:right;
}

#main_content {
	background-color: #E7DFD6;
}

#footer {
	background-color: #E7DFD6;
}

body {
	margin: 0;
	font: 40px;
}

#home {
	display: block;
	background-color: #E7DFD6;
	height: 1440px;
	font-family: 'Montserrat', sans-serif;

}

#products {
	display: block;
	background-color: #E7DFD6;
	height: 1440px;
	font-family: 'Montserrat', sans-serif;

}

#events {
	display: block;
	background-color: #E7DFD6;
	height: 1440px;
	font-family: 'Montserrat', sans-serif;

}

#services {
	display: block;
	background-color: #E7DFD6;
	height: 1440px;
	font-family: 'Montserrat', sans-serif;

}

#about {
	display: block;
	background-color: #E7DFD6;
	height: 1440px;
	font-family: 'Montserrat', sans-serif;

}
