@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
}

p {
	font-size:20px;
}

.fontsize {
	font-size:20px;
}

.heading {
	padding-top: 25px;
	padding-left: 25px;
}

.subheading {
font-family: 'Montserrat', sans-serif;
}

.paragraph {
	 font-family: 'Lato', sans-serif;
	}
	
#banner {
	background-color: #FFA6C9;
	width:100%;
}

nav {
	background-color: #FFA6C9;
	float: right;
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	width: 100%;
}

nav ul {
    list-style-type: none;
	float: right;
    padding: 0;
    overflow: hidden;
    background-color: #FFA6C9;
}

nav li {
	float: left;
	padding: 14px 16px;
	display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

nav a:link:not(.nav_active) {
    text-decoration: none;
	color: black;
}

nav a:visited:not(.nav_active) {
    text-decoration: none;
	color: black;
}

nav a:hover:not(.nav_active) {
	color: white;
}

a.nav_active {
	text-decoration: none;
	color: white;
}

.fixed {
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-placeholder {
	text-align:right;
}

#main_content {
	background-color: white;
	width:100%;
	font-size:20px;
}

#footer {
	background-color: #FF69B4;
	width:100%;
	padding-top:2em;
	padding-bottom:2em;
}
#footer a:link {
    text-decoration: none;
	color: black;
}

#footer a:visited {
    text-decoration: none;
	color: black;
}

.padding {
width: 1080px;
margin: auto;
}

.eventspadding {
width: 960px;
margin: auto;
}

.feedback_color {
	color: white;
}

.more a:link {
    text-decoration: none;
	color: black;
}

.more a:visited {
    text-decoration: none;
	color: black;
}

.more a:hover {
	color: #FF69B4;
}
